<section class="servicos" id="servicos">

    <h1 class="cabecalho">nossos <span>serviços</span></h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-car"></i>
                <h3>venda de veiculos</h3>
                <p>Bem-vindo ao TopDrive, o seu destino confiável para aquisição de automóveis excepcionais! 
                    Estamos apaixonados por carros e comprometidos em proporcionar a melhor experiência de compra 
                    para nossos clientes.</p>
                <a href="#" class="btn">leia mais</a>
            </div>

            <div class="box">
                <i class="fas fa-tools"></i>
                <h3>reparo de veiculo</h3>
                <p>Na TopDriver, oferecemos serviços de reparo de veículos de alta qualidade para garantir 
                    que seu carro receba o cuidado que merece. Nossa equipe de profissionais altamente 
                    qualificados está pronta para lidar com uma variedade de reparos, desde manutenção básica 
                    até solução de problemas complexos.</p>
                <a href="#" class="btn">leia mais</a>
            </div>

            <div class="box">
                <i class="fas fa-car-crash"></i>
                <h3>seguro</h3>
                <p>Proteja seu investimento com os nossos serviços de seguro de 
                    veículos na topDriver. Oferecemos planos abrangentes que garantem tranquilidade e 
                    segurança para você e seu veículo. Nossa equipe de especialistas está pronta para 
                    personalizar um plano que atenda às suas necessidades específicas.</p>
                <a href="#" class="btn">leia mais</a>
            </div>

            <div class="box">
                <i class="fas fa-car-battery"></i>
                <h3>venda de baterias</h3>
                <p>Garanta a potência contínua do seu veículo com as nossas opções de baterias de alta 
                    qualidade na topDriver. Oferecemos uma variedade de baterias que atendem às especificações 
                    do seu carro, garantindo um desempenho confiável a cada partida. Conte com nossa equipe 
                    especializada para orientá-lo na escolha da melhor opção para as necessidades do seu veículo.</p>
                <a href="#" class="btn">leia mais</a>
            </div>

            <div class="box">
                <i class="fas fa-gas-pump"></i>
                <h3>troca de óleo</h3>
                <p>Garanta a potência contínua do seu veículo com as nossas opções de baterias de alta 
                    qualidade na topDriver. Oferecemos uma variedade de baterias que atendem às 
                    especificações do seu carro, garantindo um desempenho confiável a cada partida. Conte com 
                    nossa equipe especializada para orientá-lo na escolha da melhor opção para as necessidades do 
                    seu veículo.</p>
                <a href="#" class="btn">leia mais</a>
            </div>

            <div class="box">
                <i class="fas fa-headset"></i>
                <h3>24/7</h3>
                <p>Garanta a potência contínua do seu veículo com as nossas opções de baterias de alta 
                    qualidade na topDriver. Oferecemos uma variedade de baterias que atendem às
                     especificações do seu carro, garantindo um desempenho confiável a cada partida. Conte com
                      nossa equipe especializada para orientá-lo na escolha da melhor opção para as necessidades do 
                      seu veículo.</p>
                <a href="#" class="btn">leia mais</a>
            </div>

        </div>
</section>