<section class="veiculos" id="veiculos">
    <h1 class="cabecalho">Nossos<span>Carros</span></h1>

    <div class="swiper carros-slide">
        <div class="swiper-wrapper">
        
                    <div class="swiper-slide box">
                        <img src="../../../assets/images/carro10.png" alt="">
                        <h3>novo modelo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="preco">R$120,000/-</div>
                        <a href="#" class="btn">compre agora</a>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../../../assets/images/carro11.png" alt="">
                        <h3>novo modelo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="preco">R$120,000/-</div>
                        <a href="#" class="btn">compre agora</a>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../../../assets/images/carro6.png" alt="">
                        <h3>novo modelo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="preco">R$120,000/-</div>
                        <a href="#" class="btn">compre agora</a>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../../../assets/images/carro5.png" alt="">
                        <h3>novo modelo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="preco">R$120,000/-</div>
                        <a href="#" class="btn">compre agora</a>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../../../assets/images/carro1.png" alt="">
                        <h3>novo modelo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="preco">R$120,000/-</div>
                        <a href="#" class="btn">compre agora</a>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../../../assets/images/carro2.png" alt="">
                        <h3>novo modelo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="preco">R$120,000/-</div>
                        <a href="#" class="btn">compre agora</a>
                    </div>

                    <div class="swiper-slide box">
                        <img src="../../../assets/images/carro3.png" alt="">
                        <h3>novo modelo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="preco">R$120,000/-</div>
                        <a href="#" class="btn">compre agora</a>
                    </div>  
        
                </div>
                <div class="swiper-pagination"></div>
            </div>



            <div class="swiper carros-slide">
                <div class="swiper-wrapper">
                
                            <div class="swiper-slide box">
                                <img src="../../../assets/images/carro11.png" alt="">
                                <h3>novo modelo</h3>
                                <div class="classificacao">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <div class="preco">R$120,000/-</div>
                                <a href="#" class="btn">compre agora</a>
                            </div>
                
                            <div class="swiper-slide box">
                                <img src="../../../assets/images/carro12.png" alt="">
                                <h3>novo modelo</h3>
                                <div class="classificacao">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <div class="preco">R$120,000/-</div>
                                <a href="#" class="btn">compre agora</a>
                            </div>
                
                            <div class="swiper-slide box">
                                <img src="../../../assets/images/carro13.png" alt="">
                                <h3>novo modelo</h3>
                                <div class="classificacao">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <div class="preco">R$120,000/-</div>
                                <a href="#" class="btn">compre agora</a>
                            </div>
                
                            <div class="swiper-slide box">
                                <img src="../../../assets/images/carro11.png" alt="">
                                <h3>novo modelo</h3>
                                <div class="classificacao">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <div class="preco">R$120,000/-</div>
                                <a href="#" class="btn">compre agora</a>
                            </div>
                
                            <div class="swiper-slide box">
                                <img src="../../../assets/images/carro12.png" alt="">
                                <h3>novo modelo</h3>
                                <div class="classificacao">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <div class="preco">R$120,000/-</div>
                                <a href="#" class="btn">compre agora</a>
                            </div>
                
                            <div class="swiper-slide box">
                                <img src="../../../assets/images/carro13.png" alt="">
                                <h3>novo modelo</h3>
                                <div class="classificacao">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <div class="preco">R$120,000/-</div>
                                <a href="#" class="btn">compre agora</a>
                            </div>

                            <div class="swiper-slide box">
                                <img src="../../../assets/images/carro13.png" alt="">
                                <h3>novo modelo</h3>
                                <div class="classificacao">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <div class="preco">R$120,000/-</div>
                                <a href="#" class="btn">compre agora</a>
                            </div>
                
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

</section>