<section class="container-icones">
    <div class="icones">
    <i class="fas fa-home"></i>
    <div class="conteudo">
        <h3>30+</h3>
        <p>filiais</p>
    </div>
    </div>
    
    <div class="icones">
        <i class="fas fa-car"></i>
        <div class="conteudo">
            <h3>4470+</h3>
            <p>carros vendidos</p>
        </div>
        </div>
    
        <div class="icones">
            <i class="fas fa-users"></i>
            <div class="conteudo">
                <h3>3000+</h3>
                <p>clientes satisfeitos</p>
            </div>
            </div>
    
            <div class="icones">
                <i class="fa-solid fa-address-card fa-beat"></i>
                <div class="conteudo">
                    <h3>5000+</h3>
                    <p>clientes cadastrados</p>
                </div>
                </div>
    
                <div class="icones">
                    <i class="fas fa-car"></i>
                    <div class="conteudo">
                        <h3>900+</h3>
                        <p>carros novos</p>
                    </div>
                    </div>
    </section>