<div class="containerLogin">

    <span class="fas fa-times" id="fechar-form-login" (click)="fecharTelaLogin()"></span>

    <form action="">
        <h3>Login de Usuário</h3>
        <input type="email" placeholder="email" class="box">
        <input type="password" placeholder="senha" class="box">
        <p>esqueceu a sua senha? <a  id="menu-recuperar">clique aqui</a></p>

        <input type="submit" name="btnLogin" value="logue agora" class="btn">
        <p>ou logue com</p>
        <div class="botoes">
            <a href="#" class="btn">google</a>
            <a href="#" class="btn">facebook</a>
        </div>
        <p>Não tem uma conta?<a routerLink="cadastro">crie a sua conta</a></p>

    </form>

</div>