<section id="avaliacoes" id="avaliacoes">
    <h1 class="cabecalho">Avaliações dos <span>nossos clientes</span></h1>

    <div class="swipper avaliacoes-slide">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="..//../../assets/images/usuario3.jpg" alt="">
                <div class="conteudo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis optio ut minima 
                        laboriosam delectus saepe assumenda dolores, laborum iusto necessitatibus!</p>
                        <h3>Eduardo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="..//../../assets/images/usuario4.jpg" alt="">
                <div class="conteudo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis optio ut minima 
                        laboriosam delectus saepe assumenda dolores, laborum iusto necessitatibus!</p>
                        <h3>Paulo</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="..//../../assets/images/usuario5.jpg" alt="">
                <div class="conteudo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis optio ut minima 
                        laboriosam delectus saepe assumenda dolores, laborum iusto necessitatibus!</p>
                        <h3>Leticia</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="..//../../assets/images/usuario6.jpg" alt="">
                <div class="conteudo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis optio ut minima 
                        laboriosam delectus saepe assumenda dolores, laborum iusto necessitatibus!</p>
                        <h3>Yasmin</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="..//../../assets/images/usuario7.jpg" alt="">
                <div class="conteudo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis optio ut minima 
                        laboriosam delectus saepe assumenda dolores, laborum iusto necessitatibus!</p>
                        <h3>Gabriel</h3>
                        <div class="classificacao">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>