<section class="cadastro">
    <h3>Cadastro</h3>

    <form action="">
        <input type="text" placeholder="insira o seu nome" name="" id="">
        <input type="text" placeholder="insira o seu usuário" name="" id="">
        <input type="password" placeholder="insira a sua senha" name="" id="">
        <input type="email" placeholder="insira o seu email" name="" id="">
        <input type="date" placeholder="insira a sua data de nascimento" name="" id="">
        <input type="submit" placeholder="enviar" name="" id="">
    </form>

</section>