<section class="veiculos" id="veiculos">

<h1 class="cabecalho"> carros <span>populares</span></h1>

<div class="swiper slide-veiculo">

    <div class="swiper-wrapper">

        <div class="swiper-slide box">
            <img src="../../../assets/images/carro1.png" alt="">
            <div class="conteudo">
                <h3>novo modelo</h3>
                <div class="preco"><span>preço: </span>R$120.000/-</div>
                <p>
                   novo
                   <span class="fas fa-circle"></span> 2021
                   <span class="fas fa-circle"></span> automatico
                   <span class="fas fa-circle"></span> gasolina
                   <span class="fas fa-circle"></span> 180km-h
                </p>
                <a href="#" class="btn">compre agora</a>
            </div>
        </div>
        <div class="swiper-slide box">
            <img src="../../../assets/images/carro2.png" alt="">
            <div class="conteudo">
                <h3>novo modelo</h3>
                <div class="preco"><span>preço: </span>R$120.000/-</div>
                <p>
                   novo
                   <span class="fas fa-circle"></span> 2021
                   <span class="fas fa-circle"></span> automatico
                   <span class="fas fa-circle"></span> gasolina
                   <span class="fas fa-circle"></span> 180km-h
                </p>
                <a href="#" class="btn">compre agora</a>
            </div>
        </div>
        <div class="swiper-slide box">
            <img src="../../../assets/images/carro3.png" alt="">
            <div class="conteudo">
                <h3>novo modelo</h3>
                <div class="preco"><span>preço: </span>R$120.000/-</div>
                <p>
                   novo
                   <span class="fas fa-circle"></span> 2021
                   <span class="fas fa-circle"></span> automatico
                   <span class="fas fa-circle"></span> gasolina
                   <span class="fas fa-circle"></span> 180km-h
                </p>
                <a href="#" class="btn">compre agora</a>
            </div>
        </div>
        <div class="swiper-slide box">
            <img src="../../../assets/images/carro4.png" alt="">
            <div class="conteudo">
                <h3>novo modelo</h3>
                <div class="preco"><span>preço: </span>R$120.000/-</div>
                <p>
                   novo
                   <span class="fas fa-circle"></span> 2021
                   <span class="fas fa-circle"></span> automatico
                   <span class="fas fa-circle"></span> gasolina
                   <span class="fas fa-circle"></span> 180km-h
                </p>
                <a href="#" class="btn">compre agora</a>
            </div>
        </div>
        <div class="swiper-slide box">
            <img src="../../../assets/images/carro5.png" alt="">
            <div class="conteudo">
                <h3>novo modelo</h3>
                <div class="preco"><span>preço: </span>R$120.000/-</div>
                <p>
                   novo
                   <span class="fas fa-circle"></span> 2021
                   <span class="fas fa-circle"></span> automatico
                   <span class="fas fa-circle"></span> gasolina
                   <span class="fas fa-circle"></span> 180km-h
                </p>
                <a href="#" class="btn">compre agora</a>
            </div>
        </div>
        <div class="swiper-slide box">
            <img src="../../../assets/images/carro6.png" alt="">
            <div class="conteudo">
                <h3>novo modelo</h3>
                <div class="preco"><span>preço: </span>R$120.000/-</div>
                <p>
                   novo
                   <span class="fas fa-circle"></span> 2021
                   <span class="fas fa-circle"></span> automatico
                   <span class="fas fa-circle"></span> gasolina
                   <span class="fas fa-circle"></span> 180km-h
                </p>
                <a href="#" class="btn">compre agora</a>
            </div>
        </div>
        <div class="swiper-slide box">
            <img src="../../../assets/images/carro7.png" alt="">
            <div class="conteudo">
                <h3>novo modelo</h3>
                <div class="preco"><span>preço: </span>R$120.000/-</div>
                <p>
                   novo
                   <span class="fas fa-circle"></span> 2021
                   <span class="fas fa-circle"></span> automatico
                   <span class="fas fa-circle"></span> gasolina
                   <span class="fas fa-circle"></span> 180km-h
                </p>
                <a href="#" class="btn">compre agora</a>
            </div>
        </div>

    </div>
    <div class="swiper-pagination"></div>
</div>

</section>